.text-field {
    margin-bottom: 1rem;

    &__label {
        display: block;
        margin-bottom: 0.25rem;
    }

    &__input {
        display: block;
        width: 98%;
        height: calc(2.25rem + 2px);
        padding: 0.15rem 0.75rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        
        &::placeholder {
            color: #0040ff;
            opacity: 0.4;
        }
    }
}